<div class="section  tt-card-main">
  <div class="row">
    <div class="col offset-m2 m8 s12 card-panel panel-double-padding">
      <h4>Profissional logado</h4>
      <hr />
<div class="col card-panel m6 s12">
  <h5> {{ Partner.data.nome }}</h5>
      <p>
        Email: {{ Partner.username }}
      </p>
      <p>
        Estado: {{ Partner.data.estado }}
      </p>
    </div>
      <button class="btn gray waves-effect waves-light col offset-l1 col l4 s12"
        type="button" name="manage"
        data-ng-click="Partner.manage()" style="margin-top:5px;margin-bottom:5px;">Alterar Dados</button>
        <button class="btn gray waves-effect waves-light col offset-l1 col l4 s12"
          type="button" name="manage"
          data-ng-click="Partner.resetpass()" style="margin-bottom:5px;">Alterar Senha</button>
      <button class="btn gray waves-effect waves-light col offset-l1 col l4 s12"
        type="button" name="reset"
        data-ng-click="Partner.logout()">Logout</button>
    </div>
  </div>
</div>
