<div class="section no-pad-bot" id="home-banner">
  <div class="row tt-blue-text tt-margin-top tt-main-background z-depth-1">

    <div class="hide-on-large-only">
      <img class="responsive-img z-depth-1" src="assets/images/background-index.jpg" alt="" />
    </div>

    <div class="hide-on-med-and-down">
      <br>
      <br>
      <br>
    </div>

    <div class="col s12 offset-l7 l4 tt-pacientes-box tt-round-border z-depth-2 wow slideInRight">
      <h4 class="header center tt-blue-text">Pacientes e familiares</h4>
      <p class="col s12 center tt-blue-text">
        Encontre cuidadores, enfermeiras, fisioterapeutas e outros profissionais
        para cuidar de quem você ama.
      </p>

      <div class="col s12 center ">
        <form name="Home.homeForm" data-ng-submit="Home.submitForm(Home.form)">
          <div class="col s12 center">
            <input class="center tt-blue-placeholder tt-search-box"
              data-ng-model="Home.form.cep" required
              type="text" name="cep" mask="99999-999" placeholder="Digite seu CEP aqui" />
          </div>

          <div class="col s12 center">
            <select data-ng-model="Home.form.selectedPartner" required
              data-ng-options="partner.name for partner in Home.partners"
              class="tt-blue-background tt-white-text tt-select"
              >
              <option value="">Escolha o profissional</option>
            </select>
          </div>

          <div class="col s12 center">
            <button class="btn waves-effect waves-light col s12 tt-margin-top-button
              tt-blue-background" type="submit" name="action">
              <i class="material-icons">search</i>Pesquise aqui
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="section no-pad-bot tt-footer-background tt-margin-top">
    <div class="row">
      <div class="col s12 l4">
        <br class="hide-on-med-and-down">
        <h5 class="center">
          "Sem intermediários, através de referências de outros pacientes e familiares"
        </h5>
      </div>

      <div class="col s12 l8">
        <br class="hide-on-med-and-up">
        <h5 class="col s12 center">
          ___ COMO FUNCIONA ___
        </h5>

        <div class="col s12 l4 center">
          <p class="col s3">
            <img src="assets/images/notepad.png" alt="Formulário" />
          </p>
          <p class="col s9">
            Preencha o formulário online de pesquisa de profissional.
          </p>
        </div>

        <div class="col s12 l4 center">
          <p class="col s3">
            <img src="assets/images/people.png" alt="Pessoas" />
          </p>
          <p class="col s9">
            Receba referências das pessoas mais próximas e qualificadas.
            Conheça os candidatos e contrate sem intermediários.
          </p>
        </div>

        <div class="col s12 l4 center">
          <p class="col s3">
            <img src="assets/images/credit-card.png" alt="Pagamento" />
          </p>
          <p class="col s9">
            Você pesquisa quantas vezes for necessário e só paga se contratar.
          </p>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
