<div class="section no-pad-bot" id="home-banner">
    <div class="row tt-blue-text tt-margin-top tt-main-background z-depth-1 tt-principal">

        <div class="hide-on-large-only">
            <img class="responsive-img z-depth-1" src="assets/images/final-bg.jpg" alt="" />
        </div>

        <div class="hide-on-med-and-down">
            <br>
            <br>
            <br>
        </div>

        <div class="col s12 offset-l7 l4 tt-pacientes-box z-depth-5 tt-search-home tt-new-brown-bg ">
            <h4 class="header center ">Pacientes e familiares</h4>
            <p class="col s12 center ">
                Encontre cuidadores, enfermeiras, fisioterapeutas e outros profissionais para cuidar de quem você ama.
            </p>

            <div class="col s12 center">
                <form name="Home.homeForm" data-ng-submit="Home.submitForm(Home.form)">
                    <div class="col s12 center">
                        <input class="center white black-text" data-ng-model="Home.form.cep" required type="text" name="cep" mask="99999-999" placeholder="Digite seu CEP aqui" />
                    </div>

                    <div class="col s12 center">
                        <select data-ng-model="Home.form.selectedPartner" required data-ng-options="partner.name for partner in Home.partners" class="black-text">
                  <option value="">Escolha o profissional</option>
                </select>
                    </div>

                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light col s12
                   valign tt-new-blue-bg" type="submit" name="action" style="margin-top:15px;">
                   Pesquise aqui
                </button>
                    </div>
                </form>
            </div>

        </div>

        <div class="row">
            <div class="map-current-test col s12  no-padding" >
                <div class="col s12 m4 offset-m4">
                    <h6 class="center white-text tt-new-orange-bg bubble-text bubble-border">IMPORTANTE: Começamos os testes na região oeste de SP – Capital</h6>
                </div>
            </div>

        </div>
        <br>

        <div class="row" id="titi">
            <div class="white col s12">
                <h5 class="center tt-new-brown-text tt-w-i-tt">O que é TITI?</h5>
            </div>
            <div class="section tt-new-brown-bg no-margin panel-double-padding row col s12">

                <div class="col s12 m4 offset-m2 white-text" style="text-align:center;">

                    <p>TITI é uma startup que empodera Profissionais apaixonados por cuidar de quem a gente ama para que você possa encontrá-los.
                    </p>

                    <p>

                        Queremos facilitar a vida das famílias que buscam cuidados para idosos, crianças especiais e adultos com limitações de mobilidade.
                    </p>


                    <p>
                        Com o Mapa do Cuidador, você conhecerá profissionais apaixonados pela vida e próximos de você.
                    </p>

                    <p>

                        A inspiração é uma menina especial linda, que é filha de um dos fundadores, e ganhou o apelido de TITI da sua própria irmã, quando ainda era um bebê.
                    </p>


                    <p>
                        Bem-vindos ao TITI, tecnologia para unir pessoas apaixonadas por cuidar, à serviço da longevidade.
                    </p>
                </div>
                <div class="col s12 m4 center " style="margin-bottom:25px;">
                    <br>
                    <h5 class="center white-text valign col s12">Mapa do Cuidador</h5><br>
                    <div class="col s12 valign">
                        <img src="assets/images/round-img-map.png" width="250px" class="center valign" />
                    </div>

                </div>

            </div>
            <div class="row">
              <div class=" no-pad-bot tt-footer-background tt-margin-top tt-new-brown-text white  no-padding row no-margin">

                <div class="row">
                    <div class="col s12 l12">
                        <br class="hide-on-med-and-down">

                    </div>

                    <div class="col s12 m8 offset-m2  ">
                        <br class="hide-on-med-and-up">

                        <div class="col s12 center" style="margin-bottom:20px;">
                            <h5 class="col s10 offset-s1 m4 offset-m4 center bubble-text   center m-auto wow pulse animated" data-wow-duration="2s" data-wow-iteration="infinite">
          Como Funciona ??
        </h5>
                        </div>

                        <br>
                        <br>
                      
                        <div class="col s12 m4 center ">
                            <img class="responsive-img circle" src="assets/images/round-img-map.png" width="170px" />
                            <h5>
                      1. Informe seu
CEP e o tipo
de Cuidador
                    </h5>
                        </div>
                        <div class="col s12 m4 center ">
                            <img class="responsive-img circle" src="assets/images/step3-round.jpg" width="170px" />
                            <h5>
                      2. Fale com os
Cuidadores e
contrate o perfil
mais adequado
                    </h5>
                        </div>
                        <div class="col s12 m4 center ">
                            <img class="responsive-img circle" src="assets/images/step4-round.jpg" width="170px" />
                            <h5>
                      3. Avalie o
profissional
                    </h5>
                        </div>



                    </div>
                </div>

            </div>
          </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
