<div class="row">
   <div class="col s12 z-depth-6 card-panel tt-card-main">
      <div class="row">
         <div class="input-field col s12 m6 l6 offset-l3 offset-m3">
            <h4 class=" tt-blue-text">Buscar Profissional</h4>
            <hr>
         </div>
      </div>
      <div class="row">
         <div class="col s12 m6 l6 offset-l3 offset-m3">
            <div class="col s12 m7 l7 z-depth-6 card-panel" style="padding:20px;">
               <div class="search">
                  <div class="search-wrapper">
                     <input id="search" class="col l4" placeholder="CEP: XXXXX-XXX">

                     <select class="col l7">
                         <option value="volvo">Volvo</option>
                         <option value="saab">Saab</option>
                         <option value="vw">VW</option>
                         <option value="audi" selected>Audi</option>
                       </select>


                     <i id="btnSearch" class="material-icons" style="
                        font-size: 35px;
                        ">search</i>
                  </div>
               </div>
               <div class="card-panel tt-card-search col s12 " style="padding:10px;" data-ng-repeat="partner in PartnerSearch.partners">

                 <div class="col l3 s4">
                   <img class="tt-img-size-search" src="{{partner.foto || './assets/images/profile_default.png'}}" alt="Perfil">
                 </div>

                 <div class="col l5 s8">
                   <p class="tt-vertical-align">
                     {{ partner.nome}}
                   </p>
                 </div>

                 <div class="col l3 s12">
                   <p class="tt-vertical-align">
                     {{partner.cargo}}
                   </p>
                 </div>

                 <div class="col l12 s12">
                   <!--<p class="tt-vertical-align">
                     <img src="assets/images/star_filled.png" alt="{{ partner.classificacao + 'estrelas' }}" data-ng-repeat="n in PartnerSearch.getStars(partner.classificacao)">
                     <img src="assets/images/star.png" alt="{{ partner.classificacao + 'estrelas' }}" data-ng-repeat="n in PartnerSearch.getStars(5 - partner.classificacao)">
                     <br>
                     <small data-ng-show="partner.classificacao === '0'">Nenhuma avaliação foi feita</small>
                   </p>-->
                 </div>
               </div>
            </div>
            <div class="col s12 m5 l5">

              <script>

              $("#btnSearch").click(function() {
                window.location.href = "#/redirect?cep=" + $("#search").val() + "&atuacao=2";
              });

              function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
                $(window).on('hashchange', function(e){
                  if(getParameterByName("refresh") == 1) {
                      window.location.href = "#/search?cep=" + getParameterByName('cep') + "&atuacao=" + getParameterByName('atuacao') + "&refresh=0"
                  }
                  if(getParameterByName("refresh") == 0) {
                      window.location.reload();
                  }
                });

              $.ajax({
                url: "http://titi.net.br/_homolog/relat/pesquisa_completa.php?cep="+ getParameterByName('cep') +"&atuacao=" + getParameterByName('atuacao'),
                context: document.body,
                async: false
              }).done(function(data) {
                  var myHome=new google.maps.LatLng(data[data.length - 1].latitude, data[data.length - 1].longitude);
                  var ArrArr = $.map(data, function(n,i){
                     return [[ n.nome, n.latitude, n.longitude ]];
                  });
                  //console.log(JSON.stringify(ArrArr));
                  var locations = ArrArr;
                  function initialize() {
                      var mapProp = {
                          center: myHome,
                          zoom: 12,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                      };
                      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                      for (i = 0; i < locations.length; i++) {
                          marker = new google.maps.Marker({
                              position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                              title: locations[i][0],
                              map: map
                          });
                          var infowindow = new google.maps.InfoWindow({
                              content: locations[i][0]
                          });
                          infowindow.open(map, marker);
                      }

                      marker.setMap(map);
                  }

                    // Adds a marker to the map and push to the array.
                    function addMarker(location) {
                      var marker = new google.maps.Marker({
                        position: location,
                        map: map
                      });
                      markers.push(marker);
                    }

                  google.maps.event.addDomListener(window, 'load', initialize);
              });

                </script>

                <div id="googleMap" style="width:300px;height:580px;"></div>


            </div>
         </div>
      </div>
   </div>
</div>
