<div class="row">
    <div class="col s12 z-depth-6  tt-card-main">
      <div class="card-panel col s12 m8 offset-m2">
        <div class="row">
            <div class="input-field col s12 m12  ">

                <a class="waves-effect waves-light btn modal-trigger right" ng-click="Search.openSearch()">Nova Busca</a>
                <!--<a class="btn waves-effect waves-light tt-blue-background right" style="margin-right:10px;">Clique aqui para Pesquisas anteriores</a>-->
                <h4 >Buscar Profissional</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 ">
                <div class="col s12 m12 l12" style="padding-right:0px;">
                    <ng-map zoom="12" center="{{ Search.location.latitude + ', ' + Search.location.longitude }}" style="height:400px">
                        <custom-marker  ng-repeat = " s in Search.result" position="{{s.latitude + ', ' + s.longitude}}">
                            <div class="titi-marker" ng-class="{'first': $first, 'last': $last}">
                              <h4>{{s.nome}}</h4>
                            </div>
                        </custom-marker>



                        </div>
                        <!-- Modal Structure -->
                        <div id="modalSearch" class="modal  modal-fixed-footer">
                            <div class="modal-content">
                                <div class="col offset-m3 offset-l3 s12 m6 l6 tt-pacientes-box  z-depth-2 teal" style="margin-top:25px;">
                                    <h4 class="header center ">Pacientes e familiares</h4>
                                    <p class="col s12 center ">
                                        Encontre cuidadores, enfermeiras, fisioterapeutas e outros profissionais para cuidar de quem você ama.
                                    </p>

                                    <div class="col s12 center">
                                        <form name="Search.searchForm" data-ng-submit="Search.submitForm(Search.form)">
                                            <div class="col s12 center">
                                                <input class="center white black-text" data-ng-model="Search.form.cep" required type="text" name="cep" mask="99999-999" placeholder="Digite seu CEP aqui" />
                                            </div>

                                            <div class="col s12 center">
                                                <select data-ng-model="Search.form.selectedPartner" required data-ng-options="partner.name for partner in Search.partners" class="tt-blue-background tt-white-text tt-select">
                                  <option value="">Escolha o profissional</option>
                              </select>
                                            </div>

                                            <div class="col s12 center">
                                                <button class="btn waves-effect waves-light col s12 tt-margin-top-button
                  tt-blue-background" type="submit" name="action">
                                  <i class="material-icons">search</i>Pesquise aqui
                              </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                            </div>
                        </div>
                        <div class="col s12 m12 l12 no-padding" style="margin-top:25px;">

                        </div>
                        <div class="col s12 m12 l12 z-depth-6  search-results no-padding">
                            <div class="search col s12 m6 wow bounceIn" ng-repeat="x in Search.result">
                                <div ng-class="{'my-local-last':$last}">
                                    <div class='row'>
                                        <div class='card-panel tt-card-search col s12 ' style='padding:10px;'>
                                            <div class='col m3 s12 center'>
                                                <h3 class='valign center'><img class="tt-img-size-rate center valign" ng-src="{{x.foto || './assets/images/profile_default.png'}}" alt="Perfil" />
                              </h3>
                                            </div>
                                            <div class='col l9 s8 wrap-all'>
                                                <h5 class='tt-vertical-align center'>{{ x.nome }}</h5><small class='col s12 center'>{{ x.cargo }}</small>
                                                <p class='col s12 no-bottom'><b>Cel:</b> {{ x.cel }} </p>
                                                <p class='col s12 no-bottom'><b>Período preferido:</b> {{x.periodo}}</p>
                                                <p class='col s12 no-bottom'><b>Experiência:</b> {{x.experiencia}}</p>
                                            </div>
                                            <div class="col s12 m12 l12 ">
                                                <h5 class="col s12 m12 l12 h5-low center">Avaliação Profissional</h5>
                                                <p class="tt-vertical-align col s12 m12 l12 center">

                                                  <img src="assets/images/star_filled.png" alt="{{ x.classificacao + 'estrelas' }}" data-ng-repeat="n in Search.getStars(x.classificacao)" />
                                      						<img src="assets/images/star.png" alt="{{ x.classificacao + 'estrelas' }}" data-ng-repeat="n in Search.getEmptyStars(x.classificacao)" />

                                                    <br>
                                                    <!--<small data-ng-show="partner.classificacao === '0'" class="ng-hide">Nenhuma avaliação foi feita</small>-->
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h5 ng-show="Search.result.length < 2">Não há profissionais próximos ao cep buscado. <a ng-click="Search.openSearch()">Clique aqui para buscar novamente</a></h5>


                        </div>
                </div>


            </div>
        </div>
      </div>
    </div>
