/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.font-titi-1 {
  font-family: 'Kaushan Script', cursive;

}
.font-titi-2 {
  font-family: 'Oleo Script', cursive;
}
.small-sub-brand {
  font-size: 12px;
}
.no-margin {
  margin: 0px;
}
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.tt-nav-bar {
    background-color: #1c2743;
}

.tt-blue-background {
    background-color: #1c2743 !important;
}

.tt-search-box {
    background-color: #8daf36 !important;
    padding: -15px !important;
}

.tt-light-blue-background {
    background-color: #1abc9c;
}

.tt-footer-background {
    color: #f4ffff;
}

.tt-white-text {
    color: white;
}

.tt-blue-text {
    color: #1c2743 !important
}

.tt-error-text {
    color: #e71e1e;
}

#terms-of-use {
    background-color: white;
    font-family: times;
}

.tt-text-justify {
    text-align: justify;
}

.tt-card-main {
    margin-top: 0;
    min-height: 83vh;
    background-color: #1c2743;
}

.tt-card-search {
    margin-right: 15px;
    margin-left: 15px;
}

.tt-img-size-search {
    width: 75px;
    height: 75px;
}

.tt-img-size-rate {
    width: 105px;
    height: 105px;
}

p.tt-vertical-align {
    vertical-align: middle;
}

textarea {
    min-height: 191px;
}

.modal.rate h4 {
    background-color: #26a69a;
    padding: 20px;
    margin: -24px;
    margin-bottom: 14px;
    color: white;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #fd0;
}

.star-rating.readonly .star.filled {
    color: #666;
}

@media (min-width: 768px) {
    .tt-main-background {
        background-size: cover;
        position: relative;
        min-height: 500px;
        background-color: #1c2743;
        background-image: url(../images/background-index-2.jpg);
        background-size: auto 100%;
    background-position: left center;

    }
    .tt-round-border {
        border-radius: 0 70px 0 0;
    }
    .modal.rate {
        width: 38%;
        height: 451px;
    }
}

.tt-pacientes-box {
    margin-top: -10px;
    background-color: #27ae60;
    padding: 20px 0 20px 0 !important;
    color: white;
}

.tt-margin-top-button {
    margin-top: 10px;
}

.tt-select {
    border: none;
    text-align-last: center;
    margin: 0 0 5px 0;
}

.tt-no-border {
    border: none;
}

.tt-logo {
    width: 100%;
    height: 100%;
}

.tt-margin-top {
    margin-top: -15px;
}

.tt-title-bottom {
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 5px;
}

#support-frame {
    min-height: 570px;
}

@font-face {
    font-family: 'chaletlondonnineteenseventy';
    src: url('../fonts/Chalet/chalet_london_nineteen_seventy-webfont.woff2') format('woff2'), url('../fonts/Chalet/chalet_london_nineteen_seventy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chaletlondonnineteensixty';
    src: url('../fonts/Chalet/london/ChaletLondonNineteenSixty.otf') format('woff2'), url('../fonts/Chalet/london/ChaletLondonNineteenSixty.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}


/*input[type="number"]::-webkit-input-placeholder {*/

.tt-blue-placeholder::-webkit-input-placeholder {
    color: #1c2743 !important;
}


/*input[type="number"]:-moz-placeholder { /* Firefox 18- */

.tt-blue-placeholder:-moz-placeholder {
    /* Firefox 18- */
    color: #1c2743 !important;
}


/*input[type="number"]::-moz-placeholder {  /* Firefox 19+ */

.tt-blue-placeholder::-moz-placeholder {
    /* Firefox 19+ */
    color: #1c2743 !important;
}


/*input[type="number"]:-ms-input-placeholder {*/

.tt-blue-placeholder:-ms-input-placeholder {
    color: #1c2743 !important;
}

body, body * {
    /*background-color: #1c2743;*/
    font-family: "chaletlondonnineteenseventy", "Roboto";
}

body p, body a, body h4 {
    font-family: "chaletlondonnineteensixty", "Roboto";
}

body select {
    display: inline-block;
}

.mouse-click {
    cursor: pointer;
}

.mouse-click:hover {
    text-shadow: 1px 3px 4px gray;
}

.wrap-all {
    word-wrap: break-word;
}

.no-bottom {
    margin-bottom: 0px;
}

.my-local-last {
    display: none;
}

.h5-low {
    font-size: 1.5em;
}

.btn-tall {
    height: 62px;
}

.span-big {
    font-size: 26px;
}

.modal.rate a.star-button i {
    font-size: 40px;
}

.btn-rate-now {
    width: 173px;
}

.titi-marker {
    background-color: white;
    padding: 0px 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 80px -12px black;
}

.titi-marker * {
    font-size: 12px;
}

@media screen and (max-width:840px) {
    a#logo-container img {
        height: 46px;
        width: auto;
        /* position: absolute; */
        /* bottom: -24px; */
        /* left: 50%; */
        margin-top: 18px;
        margin-left: -26px;
    }
    i.search-btn-icon {
        font-size: 35px;
        height: 50px;
        width: 100%;
        background: #CCC;
        line-height: 50px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        box-shadow: 2px 2px 10px -2px #a0a0a0;
        color: #1c2743;
    }
}

@media screen and (max-width:600px) {
    a#logo-container img {
        height: 46px;
        width: auto;
        margin-top: 9px;
        margin-left: 0px;
    }
}
