<div class="section  tt-card-main">
    <div class="row ">
        <div class="card-panel panel-double-padding col offset-m2 m8 s12">
            <div class="">
                <h4>QUEM SOMOS</h4>
                <hr />

                <p class="tt-text-justify">
                    Facilitamos o encontro entre famílias e profissionais apaixonados pela vida, por cuidar e auxiliar.
                </p>
                <p class="tt-text-justify">
                    Inspirado e desenvolvido para famílias que buscam cuidados para idosos, crianças especiais e adultos com limitações de mobilidade. Da mesma maneira, beneficiando empresas de atenção domiciliar e outras do setor.
                </p>
                <p class="tt-text-justify">
                    Através do MAPA do Cuidador você poderá encontrar profissionais apaixonados pela vida e próximos de você.
                </p>
                <p class="tt-text-justify">
                    A inspiração e motivação para o desenvolvimento dessa tecnologia é uma menina especial linda, que é filha de um dos fundadores, e ganhou o apelido de TITI da sua própria irmã, quando ainda era um bebê.
                </p>
                <p class="tt-text-justify">
                    Bem-vindos ao Titi, tecnologia para conexão humana à serviço da longevidade.
                </p>

            </div>
            <br>
            <div class="col s12 m4 center">
              <img src="assets/images/users.png" class="col s6 offset-s3" />
            </div>
            <div class="col s12 m4 center">
              <img src="assets/images/deal.png" class="col s6 offset-s3" />
            </div>
            <div class="col s12 m4 center">
              <img src="assets/images/target.png" class="col s6 offset-s3" />
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
