
<div class="section card-panel tt-card-main">
  <div class="row">

    <div class="col offset-m2 m8 s12">
      <h4>QUEM SOMOS</h4>
      <hr />

      <p class="tt-text-justify">
        Somos uma plataforma que faz com que Pacientes e seus familiares, encontrem
        os Profissionais de Cuidados que precisam, como Auxiliares e Técnicos de
        Enfermagem, Enfermeiros, Fisioterapeutas e Cuidadores, de Idosos ou para
        quem está temporariamente afastado das suas atividades por algum acidente ou cirurgia.
      </p>

      <p class="tt-text-justify">
        A inspiração e motivação para o desenvolvimento dessa tecnologia é uma
        menina especial linda, que é filha de um dos fundadores, e ganhou o
        apelido de TITI da sua própria irmã, quando ainda era um bebê.
      </p>

      <br>
      <h4>Nossa missão é:</h4>
      <hr />
      <p class="tt-text-justify">
        Usar a tecnologia para humanizar a relação entre os Profissionais de
        enfermagem, Cuidadores de Idosos e seus Pacientes, melhorando a qualidade
        de vida de todos.
      </p>

      <br>
      <h4>Nossa visão é:</h4>
      <hr />
      <p class="tt-text-justify">
        Oferecer essa tecnologia em benefício de Pacientes Idosos, Adultos,
        Crianças especiais e aos seus responsáveis, ajudando-os a conectá-los
        com Profissionais da saúde e da mesma maneira, beneficiando empresas de
        atenção domiciliar e outras do setor.
      </p>

      <br>
      <h4>Nossos valores são:</h4>
      <hr>
      <p class="tt-text-justify">
        Disponibilizar essa Plataforma de forma fácil e amigável de usar,
        para ajudar a sociedade a entender melhor o dia-a-dia e as dificuldades
        dos Idosos e Pessoas especiais, acarretando em desenvolvimentos de novas
        soluções, para sempre aumentar a qualidade de vida de todos.
      </p>

    </div>

  </div>
</div>
