<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   </head>
   <body>
      <div class="row">
         <div class="col s12 z-depth-6 card-panel">
           <div class="col s6 push-s3 ">
            <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
               <li class="">
                  <div class="collapsible-header"><i class="material-icons">
                     label_outline</i>Como funciona?
                  </div>
                  <div class="collapsible-body" style="display: none;">
                     <p>  1.Preencha o formulário on-line de pesquisa de profissional.
                        </br>
                        2.Receba referências das pessoas mais próximas e qualificadas. Conheça os candidatos e contrate sem intermediários.
                        </br>
                        3.Pague somente após encontrar o seu cuidador ou profissional.
                     </p>
                  </div>
               </li>
               <li class="">
                  <div class="collapsible-header"><i class="material-icons">
                     label_outline</i>O que seria o serviço de pesquisa de profissionais e cuidadores?
                  </div>
                  <div class="collapsible-body" style="display: none;">
                     <p>  Este é um serviço que pré-qualifica os candidatos. Os familiares ou o consumidor contrata diretamente o profissional pagando apenas uma taxa de referência. Você poderá tomar decisões diretamente com seus cuidadores, sem nenhuma interferência ou agenciadores.
                     </p>
                  </div>
               </li>
               <li class="">
                  <div class="collapsible-header"><i class="material-icons">
                     label_outline</i>Quem supervisiona os cuidadores ou profissionais?
                  </div>
                  <div class="collapsible-body" style="display: none;">
                     <p>Você está no comando! Você pode considerar a busca e contratação de um enfermeiro através das nossas referências para o serviço de supervisão de enfermagem, principalmente quando existir um auxiliar ou técnico de enfermagem conforme orientações do Cofen (conselho federal de enfermagem).</p>
                  </div>
               </li>
               <li class="">
                  <div class="collapsible-header"><i class="material-icons">
                     label_outline</i>Quem determina as condições de trabalho, remuneração, programação, etc.?
                  </div>
                  <div class="collapsible-body" style="display: none;">
                     <p>Os familiares ou consumidores determinam os detalhes diretamente com seus cuidadores. Sugerimos que você discuta os seguintes temas com a pessoa que irá contratar (independente do tempo de duração):
                        <br/>
                        Deveres do cuidador
                        <br/>
                        Compensação de dias de trabalho
                        <br/>
                        Refeições
                        <br/>
                        Serviço de limpeza
                        <br/>
                        Utensílios par dormir no local
                        <br/>
                        Quilometragem ou Transporte
                     </p>
                  </div>
               </li>
               <li class="">
                  <div class="collapsible-header"><i class="material-icons">
                     label_outline</i>Existem outras recomendações?
                  </div>
                  <div class="collapsible-body" style="display: none;">
                     <p>Os cuidadores são geralmente vistos como empregados de clientes. Nós não acompanhamos ou recolhemos impostos ao governo referente ao salário do cuidador contratado diretamente pela família. Recomendamos consultar um profissional de contabilidade ou utilizar um serviço gratuito de cálculos de folha de pagamento, como por exemplo:<a href="http://calculoexato.com.br/" target="_blank" rel="nofollow">http://calculoexato.<wbr>com.br</wbr></a> .Recomendamos de maneira expressa a consulta e utilização do portal federal e-Social <a href="https://www.esocial.gov.br/" target="_blank" rel="nofollow">https://www.esocial.gov.br</a> para o correto cadastramento e recolhimento de impostos.</p>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header"><i class="material-icons">error_outline</i>   Se o seu cuidador fica doente ou necessita de uma substituição, vamos fazer o nosso melhor para oferecer uma substituição o quanto antes.</div>
               </li>
            </ul>
         </div>
       </div>
      </div>
   </body>
</html>
