<div class="section no-pad-bot card-panel" id="terms-of-use">
  <div class="row">
    <div class="col offset-s1 s10">
      <h4 class="center">
        Termos e Condições Gerais de Uso do Site
      </h4>

      <p class="tt-text-justify">
        <b>TITI ATIVIDADES DE INTERNET LTDA.</b> (“TITI”), sociedade empresária limitada, inscrita no
          CNPJ/MF sob o nº. 99.999.000/0009-00, é uma pessoa jurídica de direito privado prestadora de
          serviços de anúncios online, realizados entre (“Usuários”) e Anunciantes de serviço
          (“Anunciante”), por meio do aplicativo e do site TITI (“Plataforma”).
          Para melhor compreensão, os termos aqui utilizados, possuem a seguinte definição:

        <!-- <ul style="padding-left: 40px;"> -->
          <li style="padding-left: 40px;"><u>Usuários:</u> todos aqueles que utilizarem dos serviços do “TITI”.</li>
          <li style="padding-left: 40px;"><u>Contratantes:</u> todos os usuários que utilizarem dos serviços dos anunciantes, inclusive
            todos os usuários responsáveis por pacientes que utilizarem da contratação e serviços
            dos anunciantes;</li>
          <li style="padding-left: 40px;"><u>Anunciantes</u>: são os Profissionais de Enfermagem, Cuidadores e outros profissionais da
            área da saúde como por exemplo, fisioterapeutas, fonoaudiólogo, dentre outros.</li>
          <li style="padding-left: 40px;"><u>Plataforma</u>: Conectada à internet, a plataforma consiste em um conjunto de programas e
            inteligência digital para propiciar um ambiente de comercialização de serviços através
            de dispositivos eletrônicos e móveis, como por exemplo: computadores, notebooks,
            laptops, celulares, tablets, dentro outros.</li>
          <li style="padding-left: 40px;"><u>Serviços</u>: Serviços oferecidos pelos Anunciantes diretamente aos Contratantes sem
            interferência ou intervenção por TITI.</li>
        <!-- </ul> -->

        Por intermédio destes Termos e Condições Gerais de Uso (“Termos”), TITI apresenta aos
        <br>
        usuários em geral, aos Contratantes e aos Anunciantes, as condições essenciais para o uso dos
        serviços oferecidos na Plataforma.
        Ao utilizar a Plataforma ou utilizar os serviços ofertados por TITI, os Usuários aceitam e se
        submetem às condições destes Termos, às Políticas de Privacidade, além das regras gerais de
        utilização da internet.

        <ol>
          <li><b>OBJETO</b>
            <ol>
              <li>Os serviços objeto do presente Termo consistem em:</li>
              <ol>
                <li>Permitir aos Contratantes que utilizem a Plataforma para
                  livremente e sem direcionamento ou interferência buscarem
                  serviços e orçamentos de Anunciantes;</li>
                <li>Ofertar e hospedar espaços na Plataforma para que os
                  Anunciantes anunciem seus serviços (“Serviços”);</li>
                <li>Viabilizar o contato direto entre Anunciantes e Contratantes
                  interessados em adquirir os Serviços, por meio da divulgação das
                  informações de contato (telefone, e-mail) de uma parte à outra,
                  inclusive dados de geolocalização, dados de registro profissional
                  nas entidades de classe (COREN, CREFITO, CRM, outros), o que fica
                  desde já autorizado, respeitados os limites aqui definidos.</li>
              </ol>

              <li>TITI, portanto, possibilita que os Usuários se contatem e negociem entre si
                diretamente, sem intervir no contato, na negociação ou na efetivação dos
                negócios, não sendo, nesta qualidade, fornecedor de quaisquer Serviços
                anunciados por seus Usuários na Plataforma.</li>
              <li>Na qualidade de classificado de Serviços, TITI não impõe ou interfere em
                qualquer negociação sobre condição, valor, qualidade, forma ou prazo na
                contratação entre os Contratantes e Anunciantes, tampouco garante a
                qualidade, ou entrega dos serviços contratados entre os Usuários.</li>
              <li>Ao se cadastrar, o Usuário poderá utilizar todos os serviços disponibilizados
                na Plataforma, declarando, para tanto, ter lido, compreendido e aceitado os
                Termos.</li>
            </ol>
          </li>

          <br>

          <li><b>CAPACIDADE PARA CADASTRAR-SE</b></li>
          <ol>
            <li>Os serviços de TITI estão disponíveis para pessoas físicas e pessoas jurídicas
              regularmente inscritas nos cadastros de contribuintes federal e estaduais
              (CPF e RG) que tenham capacidade legal para contratá-los. Não podem
              utilizá-los, assim, pessoas que não gozem dessa capacidade, inclusive
              menores de idade ou pessoas que tenham sido inabilitadas do TITI,
              temporária ou definitivamente. Ficam, desde já, os Usuários advertidos das
              sanções legais cominadas no Código Civil. Os profissionais precisam ser
              cadastrados na entidade de classe  (Coren, Crefito, CRM, outros) quando
              obrigatório.</li>
            <li>É vedada a criação de mais de um cadastro por Usuário. Em caso de
              multiplicidade de cadastros elaborados por um só Usuário, TITI reserva-se o
              direito de, a seu exclusivo critério e sem necessidade de prévia anuência ou
              comunicação aos Usuários, inabilitar todos os cadastros existentes e impedir
              eventuais cadastros futuros vinculados a estes.</li>
            <li>Somente será permitida a vinculação de um cadastro a um CPF, um telefone e
              um e-mail, não podendo haver duplicidade de dados em nenhum caso.</li>
            <li>TITI pode unilateralmente excluir o cadastro dos Usuários.</li>
          </ol>

          <br>
          <li><b>CADASTRO</b></li>
          <ol>
            <li>É necessário o preenchimento completo de todos os dados exigidos por TITI
              no momento do cadastramento, para que o Usuário esteja habilitado a utilizar
              a Plataforma.
            <li>É de exclusiva responsabilidade dos Usuários fornecer, atualizar e garantir a
              veracidade dos dados cadastrais, não cabendo a TITI qualquer tipo de
              responsabilidade civil e criminal resultante de dados inverídicos, incorretos
              ou incompletos fornecidos pelos Usuários.</li>
            <li>TITI se reserva o direito de utilizar todos os meios válidos e possíveis para
              identificar seus Usuários, bem como de solicitar dados adicionais e
              documentos que estime serem pertinentes a fim de conferir os dados
              informados.</li>
            <li>Caso TITI considere um cadastro, ou as informações nele contidas, suspeito
              de conter dados errôneos ou inverídicos, TITI se reserva o direito de
              suspender, temporária ou definitivamente, o Usuário responsável pelo
              cadastramento, assim como impedir e bloquear qualquer publicidade ou
              cadastro de Serviços e cancelar anúncios publicados por este, sem prejuízo de
              outras medidas que entenda necessárias e oportunas. No caso de aplicação de
              quaisquer destas sanções, não assistirá aos Usuários direito a qualquer tipo
              de indenização ou ressarcimento por perdas e danos, lucros cessantes ou
              danos morais.</li>
            <li>O Usuário acessará sua conta por meio de apelido (login) e senha,
              comprometendo-se a não informar a terceiros esses dados,
              responsabilizando-se integralmente pelo uso que deles seja feito.</li>
            <li>O apelido que o Usuário utiliza em TITI não poderá guardar semelhança com
              o nome TITI. Tampouco poderá ser utilizado qualquer apelido que insinue ou
              sugira que os Serviços serão prestados por TITI ou que fazem parte de
              promoções suas. Também serão eliminados apelidos considerados ofensivos,
              pejorativos, preconceituosos ou que infrinjam a legislação em vigor.</li>
            <li>O Usuário compromete-se a notificar TITI imediatamente, por meio dos
              canais de contato mantidos na Plataforma, a respeito de qualquer uso não
              autorizado de sua conta. O Usuário será o único responsável pelas operações
              efetuadas em sua conta, uma vez que o acesso só será possível mediante a
              utilização de senha de seu exclusivo conhecimento.</li>
            <li>Em nenhuma hipótese será permitida a cessão, a venda, o aluguel ou outra
              forma de transferência da conta. Não se permitirá, ainda, a criação de novos
              cadastros por pessoas cujos cadastros originais tenham sido cancelados por
              infrações às políticas de TITI.</li>
            <li>TITI se reserva o direito de, unilateralmente e sem prévio aviso, recusar
              qualquer solicitação de cadastro e de cancelar um cadastro previamente
              aceito.</li>
          </ol>

          <br>
          <li><b>MODIFICAÇÕES DOS TERMOS E CONDIÇÕES GERAIS</b></li>
          <ol>
            <li>TITI poderá alterar, a qualquer tempo e, a seu único e exclusivo critério, estes
              Termos. Os novos Termos entrarão em vigor quando publicados na
              Plataforma. O Usuário deverá informar, por e-mail, caso não concorde com os
              termos alterados. Nesse caso, o vínculo contratual deixará de existir, desde
              que não haja contas ou dívidas em aberto. Não havendo manifestação até
              cinco (05) dias após a publicação, entender-se-á que o(s) Usuário(s) aceitou
              (aceitaram) tacitamente os novos Termos, e o contrato continuará vinculando
              as partes.</li>
            <li>As alterações não vigorarão em relação a negociações e anúncios já iniciados
            ao tempo em que tais alterações sejam publicadas. Apenas para estes, os
            Termos valerão com a redação anterior.</li>
          </ol>

          <br>
          <li><b>SERVIÇOS ANUNCIADOS</b></li>
          <ol>
            <li>O Anunciante poderá oferecer aos Contratantes os Serviços em suas
              respectivas categorias e subcategorias. Os anúncios, de acordo com o perfil
              selecionado pelo Anunciante, podem conter, textos, descrições, fotos e outras
              informações relevantes do Serviço oferecido, sempre que tal prática não viole
              nenhum dispositivo deste Termo, das demais políticas de TITI e da legislação
              vigente.</li>
            <li>O Anunciante se obriga a formular descrições com clareza suficiente para que
              o Contratante compreenda a qualidade, forma e outras características
              relevantes do Serviço. Ao incluir os Serviços para contratação por
              Contratantes na Plataforma, presume-se que o Anunciante tenha a
              capacidade de realizá-lo e a disponibilidade para efetuar sua entrega no
              prazo combinado com o Contratante. Os anúncios devem conter, caso
              necessário, a descrição de todos os impostos incidentes sobre a transação, em
              estrita observância à legislação tributária aplicável.</li>
            <li>O Anunciante declara, também, que, ao publicar um anúncio, possui
              capacidade para cumprimento de sua oferta.</li>
            <ol>
              <li>TITI não verifica fisicamente a veracidade das informações e
                experiência dos Serviços oferecidos pelos Anunciantes, apenas
                entrevista os profissionais, assegurando-se de características de
                qualidade mínimas para prestação do serviço em questão, e
                tampouco se responsabiliza pela acuidade das informações
                prestadas, mas mantem-se atendo às colocações dos usuários, de
                forma a sempre manter íntegro o conteúdo da Plataforma,
                podendo, conforme acima já exposto, excluir qualquer usuário que
                demonstre comportamento diverso da finalidade aqui pretendida.</li>
            </ol>
            <li>TITI exige dos Anunciantes a clareza quanto ao preço final cobrado e, assim,
              reserva-se o direito de, a seu exclusivo critério e sem necessidade de prévia
              anuência ou comunicação aos Usuários, remover aqueles anúncios de
              Serviços cujo preço final não esteja de acordo com os Termos, seja de difícil
              interpretação ou permita algum tipo de variação ou de flutuação, para assim
              evitar confusões ou mal-entendidos quanto ao preço final do Serviço.</li>
            <li>Eventuais sugestões de preços fornecidas por TITI serão apenas indicativos
              não vinculantes, não sendo ofertas de preços, tampouco será TITI
              responsabilizado por disparidade entre o serviço contratado e a sugestão de preço fornecida por TITI.</li>
          </ol>

          <br>
          <li><b>INCLUSÃO DE IMAGENS E FOTOGRAFIAS</b></li>
          <ol>
            <li>O Anunciante poderá incluir uma imagem ou fotografia real sua ou do
              Serviço. É proibida a utilização de imagens genéricas que possam confundir,
              enganar ou levar a erro possíveis Contratantes, assim como de imagens
              ofensivas ou que violem leis em vigor, sendo o Anunciante, o único
              responsável pela divulgação da foto, inclusive perante terceiros.</li>
            <li>Ao incluir imagens ou fotografias na Plataforma, o Anunciante autoriza TITI a
              utilizar tais imagens ou fotografias em peças publicitárias, cedendo o seu uso
              de forma irrestrita, não onerosa e por prazo indeterminado. O Anunciante
              também autoriza TITI a alterar as imagens ou fotografias, inclusive, mas não
              se limitando a, a resolução e o tamanho de tais imagens ou fotografias.</li>
            <li>TITI poderá retirar da Plataforma publicações que contenham imagens que
              não estejam de acordo com os Termos e as demais políticas de utilização da
              Plataforma e com a legislação vigente.</li>
          </ol>

          <br>
          <li><b>PRIVACIDADE DA INFORMAÇÃO</b></li>
          <ol>
            <li>Todas as informações ou os dados pessoais prestados pelo Usuário de TITI
              são armazenados em servidores ou meios magnéticos de alta segurança.</li>
            <li>TITI tomará todas as medidas possíveis para manter a confidencialidade e a
              segurança descritas nesta cláusula, mas não será responsável por prejuízo
              que possa ser derivado da violação dessas medidas por parte de terceiros que
              utilizem de meios indevidos, fraudulentos ou ilegais para acessar as
              informações armazenadas nos servidores ou nos bancos de dados utilizados
              por TITI.</li>
            <li>TITI poderá compartilhar as informações prestadas por seus Usuários com
              terceiros sem a devida anuência, desde que sejam essas utilizadas para a
              mesma finalidade aqui prevista.</li>
            <li>Os Usuários concordam que as suas informações de contato serão enviadas
              para a outra Parte, Anunciante ou Contratante, para que seja possível a
              comunicação entre as Partes em caso de tentativa de contratação do serviço.</li>
            <li>TITI coleta e armazena as informações prestadas por seus Usuários, tais
              como, mas não se limitando a, nome, telefone, CPF, RG, CNPJ, e-mail e dados
              constantes nos Termos. Estes elementos somente serão utilizados por TITI
              para melhorar seus processos de identificação, apresentação de Serviços,
              contato com os Usuários e autenticação de contas, ou ainda, geração de dados
              de análise que poderão ser comercializados com terceiros, gerando gráficos e
              outras informações pertinentes para a sociedade sobre esse tema.</li>
            <li>Entende-se que os dados profissionais do Anunciante, como registro
              profissional junto às entidades de classe - federais, estaduais e municipais
              (COREN, COFEN, CREFITO, CRM e outras) são fundamentais para a prestação
              dos serviços e não poderá ser considerado violação de informação caso TITI
              necessite divulgá-las ao Contratante.</li>
            <li>TITI, por motivos legais, manterá em seu banco de dados todas as
              informações coletadas dos Usuários que excluírem seus cadastros.</li>
            <li>O apelido e a senha de cada Usuário servem para garantir a privacidade e a
              sua segurança. TITI recomenda a seus Usuários que não compartilhem essas
              informações com ninguém. TITI não se responsabiliza por danos ou prejuízos
              causados ao Usuário pelo compartilhamento dessas informações.</li>
            <li>Toda informação prestada pelos Usuários ao TITI é protegida por empresas
              especializadas.</li>
            <li>TITI segue os padrões de segurança comumente utilizados pelas empresas
              que trabalham com transmissão e retenção de dados para garantir a
              segurança de seus Usuários. No entanto, nenhum método de transmissão ou
              retenção de dados eletrônicos é plenamente seguro e pode estar sujeito a
              ataques externos. Assim, apesar de utilizar todos os meios possíveis e
              adequados, TITI não pode garantir a absoluta segurança das informações
              prestadas.</li>
            <li>TITI coleta e guarda todas as informações prestadas por seus usuários
              durante a utilização do Site, incluindo no momento do cadastramento, para
              uso próprio.</li>
            <li>O nome, e-mail e outros dados dos Usuários poderão ser utilizados para o
              envio de notificações, informações sobre a conta ou Serviços prestados,
              avisos sobre violações ao Termo e outras comunicações que TITI considerar
              necessárias. Os Usuários poderão requisitar a TITI a sua exclusão de sua lista
              de envio de mensagens (mailing).</li>
            <li>TITI prestará todas as informações requisitadas por órgãos públicos, desde
              que devidamente justificadas e compatíveis com a lei em vigor.</li>
            <li>TITI utiliza cookies e softwares de monitoramento de seus Usuários para
              prover a seus Usuários a melhor navegação possível, baseado em suas
              necessidades, e para pesquisas internas. Esses cookies não coletam
              informações pessoais, apenas informam preferências de uso e de navegação
              de cada Usuário, além de prover a TITI estatísticas e dados para aprimorar
              seus serviços.</li>
          </ol>

          <br>
          <li><b>TARIFAS</b></li>
          <ol>
            <li>O cadastramento dos Anunciantes no TITI é gratuito.</li>
            <li>Os serviços prestados por TITI em sua versão Teste (versão Beta-teste) não
              serão cobrados dos Contratantes, ou Usuários em geral e poderão ter essa
              cláusula renovada até a versão beta ter upgrade (atualização) para a versão
              em produção definitiva. A partir daí, na versão em produção, serão cobrados
              Trinta e Nove Reais (R$39,00) por transação, através do cartão de crédito de
              cada usuário contratante, ou através de pagamento de boleto bancário e
              liberado a consulta dos dados dos anunciantes após a efetivação do
              pagamento do boleto bancário.</li>
            <li>TITI disponibilizará aos Anunciantes interessados anúncios diferenciados,
              TITI disponibilizará aos Anunciantes interessados anúncios diferenciados,
              com níveis de exposição distintos, para os seus serviços. Para tanto, TITI
              poderá cobrar uma tarifa de anúncio após a versão beta-teste. Nenhum
              anúncio será cobrado aos Anunciantes sem prévio aviso ou assinatura
              eletrônica dos usuários anunciantes.</li>
            <li>O Anunciante e o Contratante concordam em pagar a TITI os valores
              correspondentes às tarifas de referência e anúncio, conforme dispostos
              nestes “Termos”, bem como as remunerações a quaisquer outros serviços
              prestados por TITI, para os quais tenha sido estabelecida tarifa.</li>
            <li>TITI se reserva o direito de modificar, aumentar, eliminar tarifas vigentes a
              qualquer momento ou realizar promoções e outras formas transitórias de
              alteração dos preços praticados. Tais alterações não vigorarão em relação a
              negociações e anúncios já iniciados ao tempo em que aquelas sejam
              publicadas. Para estes, os Termos valerão com a redação anterior até o final
              do período contratado pelo Anunciante, quando então serão atualizados.</li>
            <li>TITI se reserva o direito de tomar as medidas judiciais e extrajudiciais
              pertinentes para o recebimento dos valores devidos.</li>
          </ol>

          <br>
          <li><b>POLÍTICA DE CANCELAMENTO</b></li>
          <ol>
            <li>1. O Anunciante poderá cancelar o plano contratado a qualquer momento pelo
              e-mail e telefone disponibilizado no site.</li>
            <li>Em todos os casos, será devolvido o valor proporcional ao tempo
              transcorrido do plano contratado, considerada a data da contratação até o dia
              do efetivo cancelamento do plano, descontada multa no valor de 10% (dez
              por cento) do saldo remanescente em favor de TITI. </li>
            <li>O Anunciante aceita que o pagamento da multa, se dará com a
              retenção de parte do quanto deverá ser eventualmente restituído quando do
              cancelamento.</li>
          </ol>

          <br>
          <li><b>SERVIÇOS E ANÚNCIOS PROIBIDOS</b></li>
          <ol>
            <li>TITI é uma plataforma de classificados online de Serviços, mas também não
              está proibida a veiculação de qualquer anúncio de venda, aluguel, troca ou
              qualquer forma de transferência de posse ou propriedade de qualquer bem
              móvel ou imóvel, adstritos a finalidade para a qual a plataforma fora criada,
              sendo vedada qualquer negociação de serviços e/ou produtos estranhos a
              esse objetivo.</li>
            <li>Estão proibidas também a veiculação de anúncios de serviços ilegais de
              acordo com a legislação vigente ou que possam ser considerados ofensivos a
              terceiros.</li>
            <li>TITI excluirá, unilateralmente e sem qualquer comunicação prévia, aquele
              Usuário que desrespeitar as regras contidas nesta Cláusula 10.</li>
            <ol>
              <li>TITI poderá não realizar uma curadoria prévia dos anúncios
                veiculados na Plataforma.</li>
            </ol>
            <li>Qualquer Usuário ou pessoa física ou jurídica que se sentir ofendido por
              qualquer anúncio veiculado na Plataforma poderá requisitar a TITI que
              exclua aquele anúncio de sua Plataforma, pelos seus canais de atendimento,
              cabendo exclusivamente a TITI a análise e decisão final quanto à exclusão.</li>
          </ol>

          <br>
          <li><b>SISTEMA DE QUALIFICAÇÃO DE ANUNCIANTES</b></li>
          <ol>
            <li>Os Anunciantes aceitam e se submetem ao sistema de qualificação adotado
              por TITI.</li>
            <li>Os Anunciantes concordam que a TITI poderá cancelar, excluir ou suspender
              por tempo indeterminado cadastros que apresentem qualificações negativas
              de forma reiterada.</li>
            <li>Não assistirá aos Anunciantes qualquer tipo de indenização ou ressarcimento
              por perdas e danos, lucros cessantes e danos morais, em razão da qualificação
              atribuída aos Serviços anunciados.</li>
            <ol>
              <li>Caso o Anunciante excluído tenha contratado um plano, TITI
                devolverá os valores do plano contratado, proporcionalmente ao
                tempo decorrido desde a contratação até a efetiva exclusão.</li>
            </ol>
            <li>Tendo em vista que os comentários postados são opiniões pessoais dos
              Usuários, estes serão responsáveis pelas opiniões publicadas na Plataforma,
              seja perante TITI, perante os Anunciantes, terceiros, órgãos governamentais
              ou demais Usuários do site, isentando TITI de qualquer responsabilidade
              relativa à veiculação dos comentários.</li>
            <ol>
              <li>TITI não excluíra comentários ou qualificações sobre os
              Anunciantes. Somente o Usuário responsável pelo comentário ou
              qualificação poderá remover ou alterar os comentários ou
              qualificações, salvo nos casos abaixo relacionados.</li>
            </ol>
            <li>TITI se reserva o direito de excluir unilateralmente e a seu exclusivo critério,
              comentários que contenham:</li>
            <ol>
              <li>Ofensa à honra, imagem, reputação e dignidade de terceiros;</li>
              <li>Pornografia, pedofilia, e outras modalidades de satisfação sexual;</li>
              <li>Racismo ou discriminação de qualquer natureza;</li>
              <li>Bullying, Stalking ou qualquer outra espécie de constrangimento
                ilegal ou assédio;</li>
              <li>Manifesta violação a direito autoral ou direito de imagem;</li>
              <li>Utilização de marcas, símbolos, logotipos ou emblemas de
                terceiros;</li>
              <li>Instigação ou apologia à prática de crimes, como tráfico ou uso de
                entorpecentes, estupro, homicídio, estelionato, dentre outros;</li>
              <li>Erros ou suspeita de equívocos.</li>
            </ol>
          </ol>

          <br>
          <li><b>OBRIGAÇÃO DOS USUÁRIOS</b></li>
          <ol>
            <li>O Anunciante deve ter capacidade legal para prestar o Serviço.</li>
            <li>Em virtude de TITI não figurar como parte nas transações de contratação dos
              Serviços que se realizam entre os Usuários, a responsabilidade por todas as
              obrigações delas decorrentes, sejam fiscais, trabalhistas, consumeristas ou de
              qualquer outra natureza, será exclusivamente do Contratante, do Anunciante
              ou de ambos, conforme o caso. Na hipótese de interpelação judicial que tenha
              como Réu TITI, cujos fatos fundem-se em ações do Anunciante, este será
              chamado ao processo, devendo arcar com todos os ônus que daí decorram,
              incluindo despesas com taxas, emolumentos, acordos, honorários
              advocatícios entre outros. Por não figurar como parte nas transações que se
              realizam entre os Usuários, TITI também não pode obrigar os Usuários a
              honrarem suas obrigações ou a efetivarem a negociação.</li>
            <li>O Anunciante deverá ter em mente que, na medida em que atue como um
              fornecedor de serviços, sua oferta o vincula, nos termos do artigo 30 do
              Código de Defesa do Consumidor e do artigo 429 do Código Civil, cujo
              cumprimento poderá ser exigido judicialmente pelo Contratante.</li>
            <li>TITI não se responsabiliza pelas obrigações tributárias que recaiam sobre as
              atividades dos Usuários. Assim como estabelece a legislação pertinente em
              vigor, o Contratante deverá exigir nota fiscal do Anunciante em suas
              transações. O Anunciante, nos moldes da lei vigente, responsabilizar-se-á
              pelo cumprimento da integralidade das obrigações oriundas de suas
              atividades, notadamente aquelas referentes a tributos incidentes.</li>
          </ol>

          <br>
          <li><b>PRÁTICAS VEDADAS</b></li>
          <ol>
            <li>É terminantemente vedado aos Usuários, entre outras atitudes previstas
              nestes Termos, manipular, direta ou indiretamente, os preços dos Serviços
              anunciados.</li>
            <li>É proibido aos Anunciantes divulgar o mesmo anúncio, conteúdo, item ou
              serviço em mais de uma categoria e/ou de forma repetida. TITI se reserva o
              direito de excluir anúncios ou serviços repetidos, assim como suspender ou
              excluir o cadastro do Anunciante responsável pela duplicidade.</li>
            <li>Os Usuários não poderão: (i) Obter, guardar, divulgar, comercializar e/ou
              utilizar dados pessoais sobre outros Usuários para fins comerciais ou ilícitos;
              (ii) Usar meios automáticos, incluindo spiders, robôs, crawlers, ferramentas
              de captação de dados ou similares para baixar dados do site (exceto
              ferramentas de busca na Internet e arquivos públicos não comerciais); (iii)
              Burlar, ou tentar burlar, de qualquer forma que seja, o sistema, mecanismo
              e/ou a plataforma do site; e (iv) incluir meios de contato como telefone, e-
              mail, endereço e outras formas de comunicação nas ofertas.</li>
          </ol>

          <br>
          <li><b>VIOLAÇÃO NO SISTEMA OU DA BASE DE DADOS</b></li>
          <ol>
            <li>1. É vedada a utilização de dispositivo, software ou outro recurso que possa
              interferir nas atividades e nas operações de Plataforma, bem como nos
              anúncios, nas descrições, nas contas ou em seus bancos de dados. Qualquer
              intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito
              de propriedade intelectual e as proibições estipuladas nestes Termos tornará
              o responsável passível de sofrer os efeitos das ações legais pertinentes, bem
              como das sanções aqui previstas, sendo ainda responsável por indenizar TITI
              ou seus Usuários por eventuais danos causados.</li>
          </ol>

          <br>
          <li><b>SANÇÕES</b></li>
          <ol>
            <li>Sem prejuízo de outras medidas, TITI poderá, a seu exclusivo critério e sem
              necessidade de prévia anuência dos ou comunicação aos Usuários, advertir,
              suspender ou cancelar, temporária ou permanentemente, o cadastro ou os
              anúncios do Usuário, podendo aplicar sanção que impacte negativamente em
              sua reputação, a qualquer tempo, iniciando as ações legais cabíveis e
              suspendendo a prestação de seus serviços, se: (i) o Usuário não cumprir
              qualquer dispositivo destes Termos e as demais políticas de TITI; (ii)
              descumprir com seus deveres de Usuário; (iii) praticar atos delituosos ou
              criminais; (iv) não puder ser verificada a identidade do Usuário, qualquer
              informação fornecida por ele esteja incorreta ou se as informações prestadas
              levarem a crer que o cadastro seja falso ou de pessoa diversa; (v) TITI
              entender que os anúncios ou qualquer outra atitude do Usuário tenham
              causado algum dano a terceiros ou a TITI ou tenham a potencialidade de
              assim o fazer.
            <li>Nos casos de suspensão, temporária ou permanente, do cadastro do
              Anunciante, todos os anúncios ativos e as ofertas realizadas serão
              automaticamente canceladas.
            <ol>
              <li>Em caso de suspensão temporária, o plano contratado pelo
                Anunciante será suspenso até a reabilitação do cadastro do
                Anunciante, quando voltará a viger normalmente.</li>
              <li>Em caso de suspensão permanente, TITI devolverá os valores do
                plano contratado, proporcionalmente ao tempo decorrido desde a
                contratação até a efetiva exclusão.</li>
              <li>Em caso de suspensão permanente em razão de anúncio de
                produto ou serviço proibido, TITI não devolverá os valores do
                plano contratado.</li>
            </ol>
            <li>TITI se reserva o direito de, a qualquer momento e a seu exclusivo critério,
              solicitar o envio de documentação pessoal ou de qualquer documento que
              comprove a veracidade das informações cadastrais.</li>
          </ol>

          <br>
          <li><b>RESPONSABILIDADES</b></li>
          <ol>
            <li>TITI não se responsabiliza por vícios ou defeitos técnicos e/ou operacionais
              oriundos do sistema do Usuário ou de terceiros.</li>
            <li>TITI não é responsável pela entrega dos Serviços anunciados pelos
              Anunciantes na Plataforma.</li>
            <li>TITI tampouco se responsabiliza pela existência, quantidade, qualidade,
              estado, integridade ou legitimidade dos Serviços oferecidos ou contratados
              pelos Usuários, assim como pela capacidade para contratar dos Usuários ou
              pela veracidade dos dados pessoais por eles fornecidos. TITI, por não ser
              proprietária, depositante ou detentora dos produtos oferecidos, não outorga
              garantia por vícios ocultos ou aparentes nas negociações entre os Usuários.
              Cada Usuário conhece e aceita ser o único responsável pelos Serviços que
              anuncia ou pelas ofertas que realiza.</li>
            <li>TITI não poderá ser responsabilizada pelo efetivo cumprimento das
              obrigações assumidas pelos Usuários. Os Usuários reconhecem e aceitam que,
              ao realizar negociações com outros Usuários, fazem-no por sua conta e risco,
              reconhecendo o TITI como mero fornecedor de serviços de disponibilização
              de espaço virtual para anúncio dos Serviços ofertados por terceiros.</li>
            <li>Em nenhum caso TITI será responsável pelo lucro cessante ou por qualquer
              outro dano e/ou prejuízo que o Usuário possa sofrer devido às negociações
              de outros Usuários.</li>
              realizadas ou não realizadas por meio de Plataforma, decorrentes da conduta
            <li>Por se tratar de negociações realizadas por meio eletrônico entre dois
              Usuários que não se conheciam previamente à negociação, TITI recomenda
              que toda transação seja realizada com cautela e prudência.</li>
            <li>Caso um ou mais Usuários ou algum terceiro inicie qualquer tipo de
              reclamação ou ação legal contra outro ou outros Usuários, todos e cada um
              dos Usuários envolvidos nas reclamações ou ações eximem de toda
              responsabilidade TITI e seus diretores, gerentes, empregados, agentes,
              operários, representantes e procuradores.</li>
          </ol>

          <br>
          <li><b>ALCANCE DOS SERVIÇOS</b></li>
          <ol>
            <li>Estes Termos não geram nenhum contrato de sociedade, de mandato, de
              franquia ou relação de trabalho entre TITI e o Usuário. O Usuário manifesta
              ciência de que TITI não é parte de nenhuma transação realizada entre
              Usuários, nem possui controle algum sobre a qualidade, a segurança ou a
              legalidade dos Serviços anunciados pelos Usuários, sobre a veracidade ou a
              exatidão dos anúncios elaborados pelos Usuários, e sobre a capacidade dos
              Usuários para negociar.</li>
            <li>TITI não pode assegurar o êxito de qualquer transação realizada entre
              Usuários, tampouco verificar a identidade ou os dados pessoais dos Usuários.
              TITI não garante a veracidade da publicação de terceiros que apareça em sua
              Plataforma e não será responsável pela correspondência ou por contratos
              que o Usuário realize com terceiros.</li>
          </ol>

          <br>
          <li><b>PROBLEMAS DECORRENTES DO USO DO SISTEMA</b></li>
          <ol>
            <li>TITI não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo
              Usuário em razão de falhas em sua conexão com a internet, com o seu
              provedor, no sistema, com o sistema de SMS, com a linha telefônica ou no
              servidor utilizados pelo Usuário, decorrentes de condutas de terceiros, caso
              fortuito ou força maior.</li>
            <li>TITI também não será responsável por qualquer vírus, trojan, malware,
              spyware ou qualquer software que possa danificar, alterar as configurações
              ou infiltrar o equipamento do Usuário em decorrência do acesso, da
              utilização ou da navegação na internet, ou como consequência da
              transferência de dados, informações, arquivos, imagens, textos ou áudio.</li>
          </ol>

          <br>
          <li><b>PROPRIEDADE INTELECTUAL E LINKS</b></li>
          <ol>
            <li>O uso comercial da expressão "TITI" como marca, nome empresarial ou nome
              de domínio, bem como os logos, marcas, insígnias, conteúdo das telas
              relativas aos serviços da Plataforma e o conjunto de programas, bancos de
              dados, redes e arquivos que permitem que o Usuário acesse e use sua conta,
              são propriedade de TITI e estão protegidos pelas leis e pelos tratados
              internacionais de direito autoral, de marcas, de patentes, de modelos e de
              desenhos industriais. O uso indevido e a reprodução total ou parcial dos
              referidos conteúdos são proibidos, salvo com autorização expressa de TITI.</li>
          </ol>

          <br>
          <li><b>INDENIZAÇÃO</b></li>
          <ol>
            <li>O Usuário indenizará TITI, suas filiais, empresas controladas, controladores
              diretos ou indiretos, diretores, administradores, colaboradores,
              representantes e empregados, inclusive quanto a honorários advocatícios,
              por qualquer demanda promovida por outros Usuários ou terceiros,
              decorrentes das atividades do primeiro na Plataforma, de quaisquer
              descumprimentos, por aquele, dos Termos e das demais políticas de TITI ou,
              ainda, de qualquer violação, pelo Usuário, de lei ou de direitos de terceiros.</li>
          </ol>

          <br>
          <li><b>LEGISLAÇÃO APLICÁVEL E FORO DE ELEIÇÃO</b></li>
          <ol>
            <li>Todos os itens destes Termos são regidos pelas leis vigentes na República
              Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao
              cumprimento ou a qualquer outro questionamento relacionado a estes
              Termos, as partes concordam em se submeter ao Foro da Comarca de São
              Paulo.</li>
          </ol>

          <br>
          <li><b>TERMOS E CONDIÇÕES DA GARANTIA LIMITADA</b></li>
          <ol>
            <li>TITI oferece aos Contratantes uma garantia limitada sobre os serviços
              oferecidos pelos Anunciantes.</li>
            <li>A Garantia poderá ser acionada apenas e exclusivamente pelos Contratantes
              em casos de desistência da prestação do serviço contratado, após o
              pagamento do valor ou taxa ao TITI, de má qualidade, deficiência ou
              desistência na prestação dos serviços contratados.</li>
            <li>Nos casos de falta de prestação do serviço, má qualidade, deficiência ou
              desistência na prestação do serviço, TITI oferece uma garantia limitada onde
              o Contratante poderá solicitar em até 30 (trinta) dias corridos, uma (1) nova
              referência (referência limitada até 5 novos contatos de profissionais) de
              Profissionais Anunciantes, tendo isenção de cobrança de uma nova taxa de
              referência ao TITI, e deverá o Contratante entrar em contato com o TITI para
              que seja registrado o pedido de garantia limitada. A contagem dos 30 (trinta)
              dias de garantia limitada será contada a partir do dia em que foi
              disponibilizado as referências de profissionais Anunciantes por TITI. Para
              registrar a solicitação de garantia limitada, deverão ser apresentados os
              seguintes documentos:</li>
            <ol>
              <li>E-mail enviado por TITI quando da apresentação dos Anunciantes;</li>
              <li>CPF, RG ou CNPJ, telefone e endereço do Anunciante e do
                Contratante;</li>
              <li>Contrato assinado entre o Contratante e o Anunciante, detalhando
                o serviço contratado, o valor e forma de pagamento e a data da
                contratação;</li>
              <li>Comprovante de pagamento;</li>
            </ol>
            <li>Nos casos de furtos de bens ou materiais, TITI não oferece uma garantia.</li>
            <li>O Contratante somente poderá utilizar esta Garantia uma vez.</li>
          </ol>

        </ol>

      </p>

    </div>
  </div>
</div>
