<br><br><br><div class="row">
    <div class="col s12 z-depth-6  tt-card-main">



        <form class="login-form card-panel col s12 m6 offset-m3" name="User.loginForm" data-ng-submit="User.submitLoginForm(User.form)">
          <div class="row">
              <div class="input-field col s12 center">
                  <h4 class="center tt-blue-text">{{User.title}}</h4>
              </div>
          </div>
            <div class="row margin">
                <div class="input-field col s12 offset-l3 m6">
                    <i class="col s2 small material-icons">perm_identity</i>
                    <input class="col s10 validate center" data-ng-model="User.form.email" type="email" placeholder="Email" required>
                </div>
            </div>

            <div class="row margin">
                <div class="col s12 offset-l3 m6">
                    <i class="col s2 small material-icons">lock_outline</i>
                    <input class="col s10 validate center" data-ng-model="User.form.password" type="password" placeholder="Senha" required>
                </div>
            </div>

            <div class="row" data-ng-show="User.invalidData">
                <div class="col s12 offset-l3 m6">
                    <div class="card-panel tt-error-text">
                        <p class="help-block center">Dados inválidos. Tente novamente.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="center"><a class="modal-trigger waves-effect waves-light center" ng-click="openResetModal()">Esqueci minha senha</a></p>
            </div>
            <div class="row">
                <div class="input-field col s12 offset-l4 m6">
                    <button class="btn green waves-effect waves-light col s6
            tt-blue-background" type="submit" name="action" data-ng-disabled="User.loading">
            Login
          </button>

                    <p class="margin medium-small col s12  m6"> ou <a href="{{User.signupLink}}">Cadastre-se</a></p>
                </div>
        </form>

        <div class="progress" data-ng-show="User.loading">
            <div class="indeterminate"></div>
        </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modalReset" class="modal modal-fixed-footer col s12 offset-l3 m6">
        <form name="form"><div class="modal-content">
            <h4>Esqueci minha senha</h4>
            <p>Identifique-se para receber um e-mail com a nova senha</p>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input  id="txtEmail" type="text" ng-model="txtEmailReset" class="validate" required>
                        <label class="active" for="txtEmail">E-mail</label>
                    </div>
                </div>

            </div>
            <div class="row">
              <h4 class="center"><b>{{answerReset}}</b></h4>
            </div>
        </div>
        <div class="modal-footer">
            <a  class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
            <a  class="modal-action waves-effect waves-green btn" ng-click="sendReset()" ng-disabled="form.$invalid">Enviar</a>
        </div></form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
