<div class="section card-panel tt-card-main">
  <div class="row">
    <div class="col offset-m2 m8 s12">
      <h4>Cliente logado</h4>
      <hr />

      <p>
        {{ Customer.username }}
      </p>
      <button class="btn gray waves-effect waves-light col offset-l2 col l4 s12"
        type="button" name="manage"
        data-ng-click="Customer.manage()">Alterar Dados</button>
        <button class="btn gray waves-effect waves-light col offset-l1 col l4 s12"
        type="button" name="reset"
        data-ng-click="Customer.logout()">Logout</button>
    </div>
  </div>
</div>
