<div class="section card-panel tt-card-main row">
    <div class="card-panel col s12 m8 offset-m2">
      <div class="row">
        <div class="col  m12 s12">
            <h4>Cliente logado</h4>
            <hr />
            <div class="col card-panel m5 s12">
                <h5> {{ Customer.data.nome }}</h5>
                <p>
                    Email: {{ Customer.username }}
                </p>
                <p>
                    Estado: {{ Customer.data.estado }}
                </p>
            </div>
            <div class="col m7 s12 no-padding">
              <button class="btn gray waves-effect waves-light col offset-l1 col l5 s12 btn-tall " type="button" name="manage" data-ng-click="Customer.manage()" style="margin-top:5px; margin-bottom:5px;margin-right:10px;">Alterar Dados</button>
              <button class="btn gray waves-effect waves-light col  col l5 s12 btn-tall" type="button" name="manage" data-ng-click="Customer.resetpass()" style="margin-top:5px; margin-bottom:5px;">Alterar Senha</button>
              <button class="btn gray waves-effect waves-light col offset-l1 col l5 s12 btn-tall" type="button" name="reset" data-ng-click="Customer.rate()" style="margin-right:10px;">Classificar</button>
              <button class="btn gray waves-effect waves-light col  col l5 s12 btn-tall red darken-3" type="button" name="reset" data-ng-click="Customer.logout()">Logout</button>
            </div>
            </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12" style="margin-top:25px;">
          <div class="col offset-m4 offset-l3 m6  s12 tt-pacientes-box  z-depth-2 teal text-white white-text">
              <h4 class="header center ">Pacientes e familiares</h4>
              <p class="col s12 center ">
                  Encontre cuidadores, enfermeiras, fisioterapeutas e outros profissionais para cuidar de quem você ama.
              </p>

              <div class="col s12 center">
                  <form name="Customer.searchForm" data-ng-submit="Customer.submitForm(Customer.form)">
                      <div class="col s12 center">
                          <input class="center " data-ng-model="Customer.form.cep" required type="text" name="cep" mask="99999-999" placeholder="Digite seu CEP aqui" />
                      </div>

                      <div class="col s12 center">
                        <select data-ng-model="Customer.form.selectedPartner" required
                          data-ng-options="partner.name for partner in Customer.partners"
                          class="tt-blue-background tt-white-text tt-select"
                          >
                          <option value="">Escolha o profissional</option>
                        </select>
                      </div>

                      <div class="col s12 center">
                          <button class="btn waves-effect waves-light col s12 tt-margin-top-button
              tt-blue-background" type="submit" name="action">
                              <i class="material-icons">search</i>Pesquise aqui
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
