<div class="row" ng-bind-html>
<div class="col s12 z-depth-6 card-panel">
   <div class="row">
      <div class="input-field col s12 center">
         <h4 class="center tt-blue-text">Alterar Cadastro</h4>
      </div>
   </div>
   <form>
      <div class="row margin">
         <div class="col s12 offset-l3 l6">
            <h5 class="tt-title-bottom">Informações pessoais</h5>
            <br>
            <div class="form-group">
               <label>Nome completo</label>
               <input class="form-control validate" type="text" name="nome" placeholder="Nome completo" ng-model="Customer.result.nome" required></input>
            </div>
            <div class="form-group">
               <label>Data de nascimento</label>
               <input  name="nascimento" class="form-control validate"
                  ng-model="Customer.result.nascimento" required></input>
            </div>
            <div class="form-group">
               <label for="sexo" class="">Sexo</label>
               <select  required
                  class="form-control tt-no-border validate" name="sexo" ng-model="Customer.result.sexo">
                  <option value="">Selecione...</option>
                  <option value="F">Feminino</option>
                  <option value="M">Masculino</option>
               </select>
            </div>
            <div class="form-group">
               <label>Telefone fixo</label>
               <input  name="nascimento" class="form-control validate"
                  ng-model="Customer.result.tel" required></input>
            </div>
            <div class="form-group">
               <label>Telefone celular</label>
               <input class="form-control validate"
                  type="text" name="cel"
                  placeholder="(99) 99999-9999" ng-model="Customer.result.cel"></input>
            </div>
            <div class="form-group">
               <label>CPF</label>
               <input class="form-control validate"
                  mask="999.999.999-99" ng-cpf_cnpj
                  type="text" name="cpf_cnpj" placeholder="999.999.999-99" required ng-model="Customer.result.cpf_cnpj"></input>
            </div>
            <div class="form-group">
               <label>RG</label>
               <input class="form-control validate"
                  type="text" name="rg" placeholder="RG" required ng-model="Customer.result.rg"></input>
            </div>
            </div>
            <div class="col s12 offset-l3 l6">
               <h5 class="tt-title-bottom">Informações residenciais</h5>
               <br>
               <div class="form-group">
                  <label>Endereço completo</label>
                  <input class="form-control validate"
                     type="text" name="endereco" placeholder="Endereço completo" ng-model="Customer.result.endereco" required></input>
               </div>
               <div class="form-group">
                  <label>Bairro</label>
                  <input class="form-control validate"
                     type="text" placeholder="Bairro" required name="bairro" ng-model="Customer.result.bairro"></input>
               </div>
               <div class="form-group">
                  <label>CEP</label>
                  <input class="form-control validate" mask="99999-999"
                  data-ng-pattern="Customer.regexCEP"
                     type="text" placeholder="99999-999" required name="cep" ng-model="Customer.result.cep"></input>

               </div>
               <div class="form-group">
                  <label>Estado</label>
                  <select class="form-control tt-no-border"
                  data-ng-options="state.name for state in Customer.states"
                  ng-model="Customer.result.estado"
                  required name="estado" >
                     <option value="">Selecione...</option>
                  </select>
               </div>
               <div class="form-group">
                  <label>Cidade</label>
                  <input class="form-control validate"
                     type="text" placeholder="Cidade" required name="cidade" ng-model="Customer.result.cidade"></input>
                  <!-- Validation messages -->
                  <div class="tt-error-text">
                     <p class="help-block" data-ng-message="required">Campo obrigatório</p>
                  </div>
               </div>

            </div>

         <div class="col s12 offset-l3 l6">
            <div class="row">
               <div class="input-field col s12">
                  <button class="btn green waves-effect waves-light col l4 s12
                     tt-blue-background" type="submit" name="action">Alterar</button>
                  <button class="btn green waves-effect waves-light col offset-l4 col l4 s12
                     tt-blue-background" type="reset" name="reset">Limpar</button>
               </div>
            </div>
         </div>
   </form>
   </div>
</div>
