<div class="row">
  <div class="col s12 z-depth-6 card-panel">

    <div class="row">
      <div class="input-field col s12 center">
        <h4 class="center tt-blue-text">Alterar Cadastro</h4>
      </div>
    </div>

    <form>

      <div class="row margin">
        <div class="col s12 offset-l3 l6">
          <h5 class="tt-title-bottom">Informações pessoais</h5>

          <br>

          <div class="form-group">

            <label>Nome completo</label>
            <input class="form-control validate" type="text" name="nome" placeholder="Nome completo" required></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group">

            <label>Data de nascimento</label>
            <input class="form-control validate"
              type="date" name="nascimento" required></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group">

            <label for="sexo" class="">Sexo</label>
            <select  required
              class="form-control tt-no-border validate" name="sexo">
              <option value="">Selecione...</option>
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
            </select>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Selecione sexo</p>
            </div>
          </div>

          <div class="form-group">

            <label>Telefone fixo</label>
            <input class="form-control validate"
              type="text" mask="(99) 9999-9999" placeholder="(99) 9999-9999"></input>
          </div>

          <div class="form-group"

            <label>Telefone celular</label>
            <input class="form-control validate"
              type="text" name="cel" mask="(99) 9?9999-9999"
              placeholder="(99) 99999-9999"></input>
          </div>

          <div class="form-group">

            <label>CPF</label>
            <input class="form-control validate"
              mask="999.999.999-99" ng-cpf_cnpj
              type="text" name="cpf_cnpj" placeholder="999.999.999-99" required ></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p data-ng-message="required">Campo obrigatório</p>
              <p data-ng-message="cpf_cnpj">CPF inválido</p>
            </div>
          </div>

          <div class="form-group">

            <label>RG</label>
            <input class="form-control validate"
              type="text" name="rg" placeholder="RG" required></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>
        </div>


        <div class="col s12 offset-l3 l6">
          <h5 class="tt-title-bottom">Informações residenciais</h5>

          <br>

          <div class="form-group">

            <label>Endereço completo</label>
            <input class="form-control validate"
              type="text" name="endereco" placeholder="Endereço completo" required></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group">

            <label>Bairro</label>

            <input class="form-control validate"
              type="text" placeholder="Bairro" required name="bairro"></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group">

            <label>CEP</label>
            <input class="form-control validate"
              data-ng-model="Customer.form.cep" mask="99999-999"
              data-ng-pattern="Customer.regexCEP"
              type="text" placeholder="99999-999" required name="cep"></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p data-ng-message="required">Campo obrigatório</p>
              <p data-ng-message="pattern">CEP inválido</p>
            </div>
          </div>

          <div class="form-group">

            <label>Cidade</label>
            <input class="form-control validate"
              type="text" placeholder="Cidade" required name="cidade"></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

          <div class="form-group">

            <label>Estado</label>
            <select class="form-control tt-no-border" required name="estado" >
              <option value="">Selecione...</option>
            </select>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
            </div>
          </div>

        </div>


        <div class="col s12 offset-l3 l6">
          <h5 class="tt-title-bottom">Informações de login</h5>

          <br>

          <div class="form-group">

            <label>Email</label>
            <input class="form-control validate"
              data-ng-model="Customer.form.email" id="email"
              type="email" placeholder="Email" required name="email"></input>

            <!-- Validation messages -->
            <div class="tt-error-text">
              <p class="help-block" data-ng-message="required">Campo obrigatório</p>
              <p class="help-block" data-ng-message="email">Digite um e-mail válido</p>
            </div>
          </div>


        </div>
      </div>


      <div class="col s12 offset-l3 l6">
        <div class="row card-panel">
          <label>
            Formulário inválido. Verifique o preenchimento dos campos.
          </label>
        </div>
      </div>

      <div class="col s12 offset-l3 l6">
        <div class="row">
          <div class="input-field col s12">
            <button class="btn green waves-effect waves-light col l4 s12
              tt-blue-background" type="submit" name="action">Alterar</button>

            <button class="btn green waves-effect waves-light col offset-l4 col l4 s12
              tt-blue-background" type="reset" name="reset">Limpar</button>

          </div>
        </div>
      </div>

    </form>
  </div>
</div>
