<br>
<br>
<div class="row">
  <div class="col s12 m6 offset-m3 card-panel">
    <div class="col s12 m6 offset-m3 wow bounceIn" data-wow-duration="1s">
      <img src="assets/images/people-terms.png" width="100%" />
    </div>
    <h4 class="center col s12">Você concorda com os <a target="_blank" href="#/terms-of-use" class="blue-text text-blue">Termos de uso</a>?</h4>
    <div class="form-group col s12 m6 offset-m3">
      <a class="btn red col s5 " ng-click="Customer.logout()">Não</a>
      <a class="btn tt-new-blue-bg col s5 offset-s1" ng-click="Customer.changeTerms()">Sim</a>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
